@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h4>Corin Manning</h4>
<p>
    I'm a fourth year IT software development major and an MBA Candidate. I wrapped up my 
    fourth co-op</br> this summer with Rockwell Automation as a software engineer in Milwaukee, WI. 
    My favorite hobbies include</br> shopping, listening to music and playing The Sims 4.
</p>
</hr>

<h4>Ben Momeni</h4>
<p>

</p>
</hr>

<h4>Trey Stegeman</h4>
<p>

</p>